#table-one {
    border: 2px solid red;
    width: 60%;
}

#table-two{
    border-collapse: collapse;
    width: 70%;
 
}


#table-two td{
    border: 1px solid green;
    padding: 15px;
    
}

#table-two tr:hover{
    background: rgb(231, 214, 214);
}

#table-two td:hover{
    background: red;
    color:white;
}

#table-two td:active{
    background: black;
    color:red;
}