div {
    background-color: black;
    color:white;
    width: 50%;
}

.one {
    margin: 50px 40px 30px 25px;
    /*
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 25px;
    */
    background-color: aqua;
}

.two{
    margin:40px 25px;
    /*
    margin-top: 40px;
    margin-right: 25px;
    margin-bottom: 40px;
    margin-left: 25px;
    */
    background-color:darkgray 
}

.three{
    margin: 30px;
     /*
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    */
    background-color:blueviolet 
}

.four{
    margin: 20px;
    border: 2px solid red;
}

.five{
    margin: 20px;
    border-top: 2px solid green;
    border-bottom: 2px dashed red;
    border-right: 3px dotted blue;
    border-left: 3px double orange;
}

.six{
    margin: 20px;
    border: 2px solid orange;
    padding: 10px;
}

.seven{
    margin: 20px;
    border: 2px solid maroon;
    padding: 10px 20px;
    
}

.eight{
    margin: 30px;
    border: 3px solid purple;
    padding: 50px 40px 30px 20px;
    /*
    padding-top: 50px ;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    */
    background-color: yellow;
}