html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    color:white;
    padding: 20px 10px;
}

header h2{
    font-size: 35px;
    text-align: center;
}

.container {
    width: 600px;
    margin: 0 auto;
}

section article{
    transition: box-shadow 0.1s ease;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0px;
    margin: 10px 0px;
    cursor: pointer;
}

section h2, section p{
    margin: 15px;
}

section article:hover{
    box-shadow: 0px 2px 3px rgba(0,0,0.3,0.3); 
}

footer{
    background-color: #222;
    color: #fff;
    padding: 30px;
}

footer section{
    float: right;
}

footer p{
    margin: 0px;
}

footer a{
    transition: color 0.3s;
    color:white;
    text-decoration: none;

}

footer a:hover{
    color : cornflowerblue;
}