h1 {
    text-align: center;
    color:blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aqua;
    padding: 10px;
    margin: 0px 40px;
    
}

p.p1{
    text-align: right;
    color:rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-transform: uppercase; 
    line-height: 30px;    
    font-style: oblique;

}

p.p2{
    padding: 30px;
    text-align: left;
    color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 40px;    
    font-style: italic;
    background-color: cornflowerblue;

}

p.p3{
    text-align: center;
    color:cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    word-spacing: 15px;

}

p.p4{
    padding: 30px;
    text-align: justify;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    background-color: black;
    
}