/* Creacion de un menu*/

.menu {
    width: 55%;
    background: skyblue;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.menu li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    padding: 10px 20px;
}

.menu li a:hover {
    background: blue;
    color:white;
}

