/* a {
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
    color:  grey
} */

/* Cuando pasas el mouse sobre el enlace */
/* a:hover {
    text-decoration: underline;
    background: gray;
    color:white;
} */

/* Cuando das un click */
/* a:active{
    background: black;
} */

a {
    text-decoration: none;
    margin: 10px 10px;
    display: inline-block;
    background:yellowgreen;
    color:darkgreen;
    padding: 10px 20px;
    box-shadow: 0px 5px 0px 0px black;
}

a:hover {
    text-decoration: underline;
    background: #000;
    color:white;
}

a:active {
    box-shadow: 0px 5px 0px rgb(148, 223, 148);
    background: green;
}