#titulo {
    color:blue;
}

.subtitulo {
    color:red;
}

.parrafo {
    color:aqua;
}

.parrafo2 {
    color:blueviolet;
}

h2.parrafo3 {
    color:cornflowerblue
}

p.parrafo3 {
    color:orange;
}

